body {
  font-family: 'Futura';
  color: #E8D3CF;
  background-color: #A98D90;
}

table {
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #383755;
  height: 150px;
  padding: 20px;
  color: #E8D3CF;
}

.App-title {
  font-size: 3.0em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
